beautifulsoup4==4.15.0
comtypes==1.4.16
ddgs==9.14.4
easyocr==1.7.2
edge_tts==7.2.8
feedparser==6.0.12
gputil==1.4.0
groq==1.7.0
numpy==2.5.3
Pillow==12.3.0
psutil==7.2.2
PyAudio==0.2.14
pyautogui==0.9.54
pycaw==20251023
pygame==2.6.1
PyInstaller==6.22.3
pymupdf==1.28.2
pyperclip==1.11.0
pytesseract==0.3.13
python-dotenv==1.2.4
python_docx==1.2.0
python_pptx==1.0.2
pytubefix==10.10.1
pywin32==312
Requests==2.34.2
Resemblyzer==0.1.4
send2trash==2.1.0
speechrecognition==3.17.0
speedtest==0.0.1
torch==2.7.1+cu118
wmi==1.5.1
